.bundle/
.yardoc
yarn.lock
Gemfile.lock
_yardoc/
coverage/
doc/
pkg/
spec/reports/
tmp/
.rubocop-*
.ruby-version
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json