.bundle/
.yardoc
yarn.lock
package-lock.json
Gemfile.lock
_yardoc/
coverage/
doc/
pkg/
spec/reports/
tmp/
.rubocop-*
.ruby-version
/node_modules
/spec/manageiq

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
