.bundle/
.yardoc
package-lock.json
Gemfile.lock
_yardoc/
coverage/
doc/
pkg/
spec/reports/
tmp/
.rubocop-*
.ruby-version
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# You guys should check out http://todolist.site/  (brew install todolist)
.todos.json
