/**
  Inline edit tables
*/
table.pf-table-inline-edit thead {
  tr.editing {
    th {
      border-bottom-color: $color-pf-blue-200;
      border-bottom-width: 3px;
    }
  }
}

table.pf-table-inline-edit tbody {
  tr {
    td {
      padding: 5px 10px 3px;
    }

    td.editable {
      padding: 0;

      &.editing {
        padding: 2px 3px;
      }
    }
  }

  tr.editing {
    td {
      background: $color-pf-blue-50;
      border-top-color: $color-pf-blue-200;
      border-bottom-color: $color-pf-blue-200;

      &:first-child {
        border-left-color: $color-pf-blue-200;
      }

      &:last-child {
        border-right-color: $color-pf-blue-200;
      }
    }
  }

  .input {
    border: 1px solid transparent;
    display: block;
    margin: 2px 3px 2px;
    min-height: 26px;
    padding: 3px 6px 1px;

    &:hover {
      background: $color-pf-white;
      border: 1px solid $color-pf-black-400;
      cursor: text;
    }

    &:hover::after {
      content: '\f040';
      float: right;
      font-family: 'FontAwesome';
      margin-left: 15px;
    }
  }

  .static {
    border: 1px solid transparent;
    display: block;
    margin: 2px 3px 2px;
    padding: 3px 6px 1px;
  }
}

.inline-edit-buttons {
  background: $color-pf-blue-50;
  border: 1px solid $color-pf-blue-200;
  margin: 0;
  padding: 4px;
  position: fixed;
  z-index: 1000;

  &.top {
    border-bottom: 0;
  }

  &.bottom {
    border-top: 0;
  }

  &.bold {
    border-width: 3px;
  }

  .btn {
    height: 26px;
    margin-left: 4px;
    width: 26px;

    &:first-child {
      margin-left: 0;
    }
  }
}

/**
  Long wizard step names need smaller margins
*/

.wizard-pf-steps-indicator .wizard-pf-step a {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.popover-with-max-width {
  max-width: 400px;
}

/**
  Hover state for popover icons
*/

.instance-properties-step-table .clickable-icon {
  margin-left: 5px;
  opacity: 0.5;
}
.instance-properties-step-table .clickable-icon:hover {
  opacity: 1;
}