@import './components/DualPaneMapper/DualPaneMapper.scss';
@import './components/WarningModal/WarningModal.scss';

.dual-pane-mapper-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dual-pane-mapper-form.is-hidden {
  opacity: 0;
}

// TreeView container styles
.treeview-container {
  margin-top: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treeview-container--body {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  padding: 10px 5px;
  height: 200px;
  width: 100%;
  overflow-y: auto;
  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.treeview__is-empty {
  text-align: center;
}

// Override bootstrap-treeview styles
.treeview span.indent {
  margin-left: 0;
}
