.migrations {
  .info-with-inline-icon {
    display: flex;
    align-items: center;

    .fa,
    .pficon {
      margin-right: 5px;
    }
  }

  .list-view-pf-additional-info-item {
    &.num-vms-migrated strong.total {
      margin-left: 5px;
    }

    .spinner-sm.spinner-inline {
      margin: 0 5px 0 0;
    }

    .vm-progress-bar {
      width: 100%;
      min-width: 250px;
      text-align: left;

      .progress-description,
      .progress {
        margin-bottom: 5px;
      }
    }
  }
}
