.modal-backdrop.warning-modal {
  z-index: 1050;
}

.modal-dialog.warning-modal {
  margin-top: 140px;
}

.warning-modal-body {
  display: flex;
  height: 200px;
  padding-left: 40px;
}

.warning-modal-body--icon {
  font-size: 50px;
}

.warning-modal-body--icon .pficon-warning-triangle-o:before {
  color: black;
}

.warning-modal-body--list {
  margin-left: 40px;
}

.warning-modal-body-enable-scrollbar {
  height: 80px;
  overflow: auto;
}
