.migration-settings h2 {
  margin-bottom: 25px;
}

.conversion-hosts-list .list-view-pf-main-info {
  padding: 10px 0;
}

.conversion-hosts-list .spinner.spinner-inline {
  margin-right: 10px;
}

.conversion-hosts-list-actions {
  min-width: 150px;
  text-align: right;
}

.postfix-label {
  background-color: #fafafa;
  border-left-width: 0px;
}
