.list-view-pf.list-view-table-pf > table {
  width: 100%;

  tr.list-group-item {
    display: table-row;

    &.clickable {
      cursor: pointer;
    }

    td {
      display: table-cell;
      width: auto;
      vertical-align: middle;
      padding-left: 15px;

      &:last-child {
        padding-right: 15px;
      }

      &.list-view-pf-main-info.empty-info-item {
        padding-left: 0;
      }

      &.list-view-pf-left {
        width: 60px;

        .spinner.spinner-md,
        .spinner.spinner-lg {
          margin-left: 20px;
        }

        &.contains-extra-left-content {
          .spinner.spinner-md,
          .spinner.spinner-lg {
            margin-left: 0;
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }
      }

      .list-view-table-flex {
        display: flex;
        align-items: center;

        & > div {
          float: none;
        }
      }

      .list-view-pf-description {
        float: none;
        width: auto;
        max-width: 20vw;

        .list-group-item-heading,
        .list-group-item-text {
          margin-right: 15px;
        }
      }

      .list-view-pf-additional-info-item {
        margin: 0;
      }

      .spinner-sm.spinner-inline {
        min-width: 18px;
      }

      .list-view-pf-actions {
        float: none;
        text-align: right;
        white-space: nowrap;
        margin-left: 0;
      }
    }
  }
}
