@import '../../../javascript/react/app.scss';

.react-wrapper {
  height: 100%;
}
$font-path: '~patternfly/dist/fonts/';
$img-path: '~patternfly/dist/img/';
$icon-font-path: '~patternfly/dist/fonts/';

// Bootstrap Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Patternfly Core variables and mixins
@import 'patternfly/variables';
@import 'patternfly/fonts';
@import 'patternfly/bootstrap-mixin-overrides';
@import 'patternfly/mixins';

@import '../../../../node_modules/patternfly-react/dist/sass/patternfly-react';
