.plan-request-details-list {
  .list-view-pf-main-info {
    padding: 10px 0;
  }

  .list-view-pf-additional-info-item {
    padding: 10px 0;
  }

  .task-status-messages {
    flex-direction: column;
    align-items: flex-start;
  }

  .elapsed-clock-icon {
    margin-right: 5px;
  }

  .progress-description {
    overflow: visible;
    text-overflow: initial;
  }

  .list-view-pf-description {
    width: 30%;
  }

  .utilization-bar-pf {
    min-width: 175px;
  }

  .progress-description {
    margin-bottom: 7px;
  }

  .progress {
    margin-bottom: 0px;
  }
}

table.warm-migration-precopies {
  width: 100%;
  margin-top: 10px;

  td {
    padding: 5px;

    &.precopy-status-icon {
      text-align: center;

      .list-view-pf-icon-md {
        font-size: 20px;
      }
    }
  }
}
