.plan-request-details-list .progress-description {
  overflow: visible;
  text-overflow: initial;
}

.plan-request-details-list .list-view-pf-description {
  width: 30%;
}

.plan-request-details-list .list-view-pf-actions {
  margin-bottom: 10px;
  margin-top: 10px;
}

.plan-request-details-list .list-view-pf-main-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.plan-request-details-list .utilization-bar-pf {
  min-width: 175px;
}

.plan-request-details-list .progress-description {
  margin-bottom: 7px;
}

.task-info-popover .popover-title {
  text-transform: capitalize;
}
