@import "./colors/colorVariables.scss";
@import './Overview/Overview.scss';
@import './Settings/Settings.scss';
@import './Plan/Plan.scss';
@import './Mappings/Mappings.scss';
@import './common/ListViewTable/ListViewTable.scss';
@import './common/ModalWizard/ModalWizard.scss';
@import './common/ShowWizardEmptyState/ShowWizardEmptyState.scss';
@import './common/forms/TextFileInput/TextFileInput.scss';

.required-asterisk {
  color: $color-pf-red-100;
}

.main-scroll-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-body-content {
  margin-bottom: 20px;
}
