<div id='reactRoot' class='container-fluid' style='height: 100%;'></div>

<%= mount_react_component('v2v_ui_plugin', '#reactRoot', { user: @current_user }) %>

<%# Todo: app mounts for specific api components %>
<%# mount_react_component('MappingWizardContainer') %>