.source-cluster-select .form-control-static {
  border: 1px solid #bbb;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

.source-cluster-select .form-control-static .placeholder-text {
  color: #8b8d8f;
  font-style: italic;
}
