= stylesheet_link_tag 'manageiq-v2v/application'
= javascript_pack_tag 'manageiq-v2v/migration'

.container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus{:style => "overflow: hidden; height: 100%;"}
  = yield
